.Destination {
    height: 100vh;
    /* width: 100vw; */
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.DestinationDiv {
    height: 100%;
    padding: 12% 12% 2% 12%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
    /* justify-content: flex-end; */
}
.DestinationTitle {
    display: flex;
    gap: 20px;
}
.DestinationTitle p:first-of-type {
    color: #494e57;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}
.DestinationTitle p:last-of-type {
    color: white;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}


.planetBtn {
    width: 100%;
    display: flex;
}
.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left img {
    height: 400px;
}

.right {
    width: 50%;
    margin-left: 200px;
}
.linkDiv {
    display: flex;
    gap: 40px;
}
.planetText {
    margin-top: 40px;
}
.planetText h2 {
    font-size: 4rem;
    font-weight: 500;
    font-family: "Forum", serif;
    margin-bottom: 20px;
}
.planetText p {
    color: #a9aecb;
    width: 80%;
    font-size: 1.2rem;
    line-height: 2rem;
}



.planetSelect {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 20px 4px 20px 4px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    box-sizing: content-box;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    text-decoration: none;
}
.selected {
    border-bottom: 2px solid white;
}



.right hr {
    margin: 40px 0 20px 0;
    color: #a9aecb89;
    width: 80%;
}

.travel {
    margin-left: 180px;
}
.travel p {
    color: #a9aecb;
    width: 90%;
    font-size: 1rem;
    line-height: 2rem;
}
.travel h2 {
    font-size: 2rem;
    font-weight: 500;
    font-family: "Forum", serif;
    margin-bottom: 20px;
}